<launch>

    <node name="point_cloud_recorder" pkg="mesh_constructor" type="mesh_constructor_node" output="screen" respawn="true">
        <remap from="cloud_in" to="/player0/scan_cloud" />
        <param name="waiting_time" value="0.5" />
        <param name="queue_size" value="1" />
        <param name="save_to_file" value="true" />
        <param name="chunkSize" value="50" />
    </node>

</launch>
